#header img{
    width: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

#navbarSupportedContent ul li a{
    color:white;
}

#ul a{
    text-transform: uppercase;
    color:white;

}

#footer{
    background: #175374;
    
}
#footer img{
    width: 50px;
    align-items: center;
    margin-right: 7px;
    border-radius: 24px;
}
.logo-brand{
    display: flex;
    justify-content: center;
}
.bg{
    background-color: #175374;
}
#container-fluid{
    background: #0085FE;
    color:white;
    height: 650px;

}
.card-text1{
    margin-top:100px;
    /* margin-bottom: auto; */
    padding: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
}

.parrafo{
    text-align: center;
}
.card-img{
    max-width: 480px;
    margin-top:100px;
}
.brand{
    color:white;

}
.text{
    font-size: 40px;
    text-align: center;
    color:  #175374;
    /* margin-top: 30px;*/
    margin-left: 30px;
}
.text1{
    color:#175374;
}
.imagen{
    max-width: 600px;
    margin-bottom: 80px;
}