#header img{
    width: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

#navbarSupportedContent ul li a{
    color:white;
}

#ul a{
    text-transform: uppercase;
    color:white;

}
.navbar-toggler{
    color:white;
    
}

#footer{
    background: #175374;
    height: 50px;
    
}
#footer img{
    width: 50px;
    align-items: center;
    margin-right: 7px;
    border-radius: 24px;
}
.logo-brand{
    display: flex;
    justify-content: center;
}
.bg{
    background-color: #175374;

}
#container-fluid{
    background: #0085FE;
    color:white;
  

}

.card-text1{
    margin-top:50px;
    padding: 10px;
    margin-right: auto;
  
    margin-left: 120px;
    float: left;
}

.parrafo{
    
    margin-left: 120px;
    float: left;
}

.img{
    max-width: 680px;
    margin-top:100px;
    max-height: 500px;
    margin-left: 100px;
    margin-right: auto;
   
    margin-bottom: 170px;
    height: 450px;
    float: right;
}
.brand{
    color:white;

}
.brand-footer{
    color:white;
    padding-top: 30px;
    
}
.text{
    font-size: 35px;
    text-align:center;
    color:  #175374;
    
    margin-left: 30px;
}
.text1{
    color:#175374;
  margin-left: 80px;
}
.imagen{
    max-width: 600px;
   
    margin-bottom: 10px;
    margin-left: 90px;
    margin-bottom: 15px;
}
.p1{
   
    text-align: center;
    font-size: 25px;
    color: #175374;
}
.text25{
    margin-left: 100px;
    margin-right: 100px;
}
.btn-transparente{
    margin-left: 120px;
}